<!-- Se puede poner texto directamente con comillas anidadas 
  o el nombre de una propiedad definida en el componente ejemplo homeText -->
<!-- <app-slider [nombre]="'Hola desde el componente padre'"></app-slider> -->

<app-slider [nombre]="'Películas'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">

        <div id="favorita" *ngIf="favorita">
            <h2 class="subheader">
                Película favorita
            </h2>

            <h3>
                {{favorita.title | uppercase}}
            </h3>
 
            <h4>
                {{favorita.year | espar }}
            </h4>

            <!-- Pipes con | revisar documentacion angular -->
            <h4>
                {{this.fecha | date: 'dd/MM/yyyy'}}
            </h4>
        </div>
        <!-- 
        <h1 class="subheader">Películas</h1>

        <p>{{titulo}}</p>
        <button (click)="cambiarTitulo()">Pulsar</button>

        <hr>

        <h2>Mostrar primera pelicula</h2>

        {{peliculas[0].title}}

        <h2>Número de películas</h2>

        <div *ngIf="peliculas.length <= 3">
            Hay pocas películas
        </div>

        <div *ngIf="peliculas.length > 3">
            Hay muchas películas
        </div>

        {{peliculas.length}}

        <hr>
        -->

        <h2 class="subheader">Películas</h2>
        <div *ngIf="peliculas" id="articles">

            <div *ngFor="let pelicula of peliculas">
                <app-pelicula
                [pelicula]="pelicula"
                (marcarFavorita)="mostrarFavorita($event)"></app-pelicula>
            </div>
            

        </div>

    </section>

    <app-sidebar></app-sidebar>
</div>