<header id="header">
    <div class="center">
        <!--logo-->
        <div id="logo">
            <img src="assets/images/angular.svg" class="app-logo" alt="Logotipo"/>
            <span id="brand">
                <strong>Curso</strong>Angular
            </span>
        </div>
        <!--menu-->
        <nav id="menu">
            <ul>
                <li>
                    <!-- routerlink para paginas y routerlinkactive para css -->
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['/formulario']" [routerLinkActive]="['active']">Formulario</a>
                </li>
                <li>
                    <a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">Películas</a>
                </li>
                <li>
                    <a [routerLink]="['/pagina']" [routerLinkActive]="['active']">Página</a>
                </li>
            </ul>
        </nav>
        <!--limpia float-->
        <div class="clearfix">

        </div>
    </div>
</header>