<!-- <div id="slider" class="slider-big"> -->
<!-- Se le pasa el tamaño de la franja como parámetro -->
<div id="slider" [ngClass]="{
    'slider-big': !size || size == 'big',
    'slider-small': size == 'small' }">
    <!-- <h1>Bienvenido al master en frameworks para JS</h1> -->
    <!-- Propiedad que viene desde app.component -->
    <h1>{{nombre}}</h1>
    
    <a [routerLink]="['/blog']" *ngIf="!size || size == 'big'" href="blog.html" class="btn-white">Ir al blog</a>
</div>