<h1>{{titulo}}</h1>
<p>{{comentario}}</p>
<p>{{year}}</p>


<button (click)="ocultarPeliculas()">{{botonPeliculasLabel}}</button>
<div *ngIf="mostrarPeliculas">
    <peliculas></peliculas>
</div>

<pruebas></pruebas>
<app-home></app-home>