<app-slider [nombre]="'Bienvenido al master en frameworks para JS'"></app-slider>

<div class="center">
  <section id="content">

    <h2 class="subheader">{{title}}</h2>

    <app-articles
        [articles]="articles"></app-articles>

  </section>

  <app-sidebar></app-sidebar>
</div>
