<article class="article-item">
    <div class="image-wrap">
        <img src={{pelicula.image}} alt="{{pelicula.title}}" />

    </div>

    <h2>{{pelicula.title}}</h2>
    <span class="date">
        Hace 5 minutos
    </span>

    <!-- Estilo condicional con [style.background] -->
    <!--  [class.year-green]="pelicula.year > 2017"
        [class.year-green]="pelicula.year <= 2017" -->
    <span class="year" [ngClass]="{
            'year-green':pelicula.year > 2017,
            'year-red':pelicula.year <= 2017
        }">
        {{pelicula.year}}
    </span>
    <a href="#">Leer mas</a>

    <button (click)="seleccionar($event, pelicula)">
        Seleccionar favorita
    </button>

    <div class="clearfix"></div>
</article>