<!-- Se puede poner texto directamente con comillas anidadas 
  o el nombre de una propiedad definida en el componente ejemplo homeText -->
<!-- <app-slider [nombre]="'Hola desde el componente padre'"></app-slider> -->

<app-slider [nombre]="'Página'"></app-slider>

<div class="center">
    <section id="content">

        <h1 class="subheader">Página de pruebas</h1>

        <div *ngIf='nombre && apellido; then siHayParametros else noHayParametros'></div>

        <!-- opcion -->
        <ng-template #siHayParametros>
            <h2>El nombre es: {{nombre}}</h2>
            <h2>El apellido es: {{apellido}}</h2>
        </ng-template>

        <ng-template #noHayParametros>
            <h2>No hay parametros por la url</h2>
        </ng-template>

        <button (click)="redireccion()">Llevame al formulario o k ase</button>

    </section>

    <app-sidebar></app-sidebar>
</div>