<div class="loading" *ngIf='!articles'>Cargando...</div>

<div class='loading' *ngIf="articles && articles.length == 0">
    No se encontraron coincidencias
</div>

<div id="articles">
    <article *ngFor="let article of articles" class="article-item">
        <div class="image-wrap">
            <img src="{{url + 'get-image/' +article.image}}" alt="{{article.title}}" *ngIf="article.image" />
            <img src="assets/images/angular.svg" alt="{{article.title}}" *ngIf="!article.image" />

        </div>
        
        <h2 class="">
            {{article.title}}
        </h2>
        
        <span class="date">
            {{article.date | amLocale: 'es' | amTimeAgo}}
        </span>
        
        <a [routerLink]='["/blog/articulo",article._id]'>Leer mas</a>

        <div class="clearfix"></div>
    </article>
</div>