<!-- Se puede poner texto directamente con comillas anidadas 
  o el title de una propiedad definida en el componente ejemplo homeText -->
<!-- <app-slider [title]="'Hola desde el componente padre'"></app-slider> -->

<!-- <app-slider [title]="'Formulario'" [size]="'small'"></app-slider> -->

<div class="center">
    <section id="content">

        <h1 class="subheader">{{pageTitle}}</h1>

        <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required id="">

                <small *ngIf="!title.valid && title.touched">El titulo no es válido</small>
            </div>

            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea name="content" #content='ngModel' [(ngModel)]="article.content" id="" required></textarea>

                <small *ngIf="!content.valid && content.touched">El content no es válido</small>
            </div>

            <div class="form-group">

                <div class="image-thumb" *ngIf="isEdit">
                    <img src="{{url + 'get-image/' +article.image}}" alt="{{article.title}}" *ngIf="article.image != null" />
                </div>

                <angular-file-uploader name="image" [config]="afuConfig" (ApiResponse)="imgUpload($event)">
                </angular-file-uploader>


            </div>


            <div class="clearfix"></div>
            <input type="submit" [disabled]="articleForm.invalid" [ngClass]="{
                'btn-disabled': articleForm.invalid
            }" value="Guardar" class="btn btn-success">
        </form>

    </section>

    <app-sidebar></app-sidebar>
</div>