<!-- Se puede poner texto directamente con comillas anidadas 
  o el nombre de una propiedad definida en el componente ejemplo homeText -->
<!-- <app-slider [nombre]="'Hola desde el componente padre'"></app-slider> -->

<app-slider [nombre]="'Formulario'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">

        <h1 class="subheader">Formulario</h1>

        <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required pattern="[a-zA-Z]+" id="">
                
                <small *ngIf="!nombre.valid && nombre.touched">El nombre no es válido</small>
            </div>

            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" #apellido='ngModel' [(ngModel)]="user.apellido" id="" required pattern="[a-zA-Z]+">
            
                <small *ngIf="!apellido.valid && apellido.touched">El apellido no es válido</small>
            </div>

            <div class="form-group">
                <label for="bio">Biografia</label>
                <textarea name="bio" #bio='ngModel' [(ngModel)]="user.bio" id="" required pattern="[a-zA-Z]+"></textarea>
           
                <small *ngIf="!bio.valid && bio.touched">El campo no es válido</small>
            </div>

            <div class="form-group radiobuttons">
                <input type="radio" name="genero" #genero='ngModel' [(ngModel)]="user.genero" value="hombre" id="" required  />Hombre
                <input type="radio" name="genero" #genero='ngModel' [(ngModel)]="user.genero" value="mujer" id="" required />Mujer
                <input type="radio" name="genero" #genero='ngModel' [(ngModel)]="user.genero" value="otro" id="" required />Otro
            
                <small *ngIf="!genero.valid && genero.touched">El genero no es válido</small>
            </div>

            <div class="clearfix"></div>
            <input type="submit" [disabled]="userForm.invalid" [ngClass]="{
                'btn-disabled': userForm.invalid
            }" value="Enviar" class="btn btn-success">
        </form>

        <h2 class="subheader">Eventos</h2>
        <button (click)="clic()">Clic</button>
        <input type="text" [(ngModel)]="campo" (keyup.enter)="salir()" >

    </section>

    <app-sidebar></app-sidebar>
</div>