<aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h3>Puedes hacer esto</h3>
        <a [routerLink]='["/blog/crear"]' class="btn btn-success">Crear articulo</a>
    </div>
    <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Encuentra el articulo que buscas</p>
        <form #searchForm='ngForm' (ngSubmit)="goSearch()" action="">
            <input type="text" name="search" id="search" [(ngModel)]="searchString">
            <input class="btn" type="submit"  name="submit" value="Buscar" id="">
        </form>
    </div>
</aside>
<div class="clearfix"></div>