<!-- Se puede poner texto directamente con comillas anidadas 
  o el nombre de una propiedad definida en el componente ejemplo homeText -->
<!-- <app-slider [nombre]="'Hola desde el componente padre'"></app-slider> -->

<app-slider [nombre]="'Busqueda: ' " [size]="'small'"></app-slider>

<div class="center">
    <section id="content">
        
        <h1 class="subheader">Resultados</h1>

        <app-articles
        [articles]="articles"></app-articles>
        
    </section>

    <app-sidebar></app-sidebar>
</div>